@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:700");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
/* font-family: 'Montserrat', sans-serif; */
/* navigation */
/* font-family: 'Fira Sans', sans-serif; */
/* headers */
/* font-family: 'Quicksand', sans-serif; */
/* body */
/* ==========  colors  ========== */
/* RGB */
.btn-js {
  text-transform: lowercase;
  letter-spacing: 1px;
  padding-top: 16px;
  padding-bottom: 16px; }
  .btn-js.btn-one {
    background: #3b98d3;
    border: 2px solid #3b98d3;
    -webkit-box-shadow: 0px 5px 0px 0px #1675af;
    box-shadow: 0px 5px 0px 0px #1675af; }
    .btn-js.btn-one:hover {
      background: transparent;
      color: white;
      border: 2px solid #3b98d3;
      -webkit-box-shadow: 0px 5px 0px 0px #3b98d3;
      box-shadow: 0px 5px 0px 0px #3b98d3; }
  .btn-js.btn-two {
    background: #12a79d;
    border: 2px solid #12a79d;
    -webkit-box-shadow: 0px 5px 0px 0px #078279;
    box-shadow: 0px 5px 0px 0px #078279; }
    .btn-js.btn-two:hover {
      background: transparent;
      color: white;
      border: 2px solid #12a79d;
      -webkit-box-shadow: 0px 5px 0px 0px #12a79d;
      box-shadow: 0px 5px 0px 0px #12a79d; }
  .btn-js.btn-three {
    background: #f7931d;
    border: 2px solid #f7931d;
    -webkit-box-shadow: 0px 5px 0px 0px #c16d0d;
    box-shadow: 0px 5px 0px 0px #c16d0d; }
    .btn-js.btn-three:hover {
      background: transparent;
      color: white;
      border: 2px solid #f7931d;
      -webkit-box-shadow: 0px 5px 0px 0px #f7931d;
      box-shadow: 0px 5px 0px 0px #f7931d; }
  .btn-js.btn-gray {
    background: #bcbdc0;
    border: 2px solid #bcbdc0;
    -webkit-box-shadow: 0px 5px 0px 0px #83858c;
    box-shadow: 0px 5px 0px 0px #83858c; }
    .btn-js.btn-gray:hover {
      background: transparent;
      color: white;
      border: 2px solid #bcbdc0;
      -webkit-box-shadow: 0px 5px 0px 0px #bcbdc0;
      box-shadow: 0px 5px 0px 0px #bcbdc0; }

/*
// Reassign color vars to semantic color scheme
$primary-color: 						$white;
$brand-primary:             $blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;
*/
/* ==========  text  ========== */
.text-white {
  color: white; }

.text-green {
  color: #12a79d; }

.text-black {
  color: #312f30;
  font-weight: 700; }

.text-orange {
  color: #f7931d; }

/*
:root {
  --lblue: #9ED1F6;
  --lblue2: #CFEAFD;
	--blue:  #6EB9EE;
  --mblue: #48A5E7;
  --mdblue: #2490DD;
	--dblue: #097CCD;
  --dnavy: #044776;
	--green: #29FF9F;
  --white:  #f1f1f1;
  --black: #3e3e40;
  --navy: #333c4e;
  --gray: #A7A9AC;
  --lime: #29FF9F;
  --lime2: #48e8e4;

  --bg-lgray:  #e9eaea;
  --bg-dgray:  #d4d5d6;
}*/
