/*  ./css/styles.css  */
/* ==========  imports  ========== */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,900");
h1 {
  font-size: 68px; }

@media (min-width: 480px) and (max-width: 1200px) {
  h1 {
    font-size: calc( 68px + 44 * ( (100vw - 480px) / 720 )); } }

@media (min-width: 1200px) {
  h1 {
    font-size: 112px; } }

h2 {
  font-size: 20px; }

@media (min-width: 480px) and (max-width: 1200px) {
  h2 {
    font-size: calc( 20px + 8 * ( (100vw - 480px) / 720 )); } }

@media (min-width: 1200px) {
  h2 {
    font-size: 28px; } }

h3 {
  font-size: 16px; }

@media (min-width: 480px) and (max-width: 1200px) {
  h3 {
    font-size: calc( 16px + 8 * ( (100vw - 480px) / 720 )); } }

@media (min-width: 1200px) {
  h3 {
    font-size: 24px; } }

body {
  font-size: 12px; }

@media (min-width: 480px) and (max-width: 1200px) {
  body {
    font-size: calc( 12px + 4 * ( (100vw - 480px) / 720 )); } }

@media (min-width: 1200px) {
  body {
    font-size: 16px; } }

.small-text {
  font-size: 11px; }

@media (min-width: 480px) and (max-width: 1200px) {
  .small-text {
    font-size: calc( 11px + 2 * ( (100vw - 480px) / 720 )); } }

@media (min-width: 1200px) {
  .small-text {
    font-size: 13px; } }

body * {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -1px; }

h2 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  letter-spacing: 1.1px;
  font-weight: 500;
  margin-bottom: 2%;
  text-transform: uppercase; }

h3 {
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1;
  display: inline;
  margin-bottom: 20px; }

h4 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.6px;
  margin: 12% 0; }

p {
  font-weight: 300;
  line-height: 2;
  letter-spacing: 1px;
  padding: 10px 0 0; }

/* font-family: 'Montserrat', sans-serif; */
/* navigation */
/* font-family: 'Fira Sans', sans-serif; */
/* headers */
/* font-family: 'Quicksand', sans-serif; */
/* body */
/* ==========  cjordansmith colors  ========== */
/* ==========  buttons  ========== */
button {
  color: #03A9F4;
  background: transparent;
  border: 2px solid #03A9F4;
  position: relative;
  margin: 1em;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 1.8px;
  font-size: 18px; }

button:before,
button:after {
  content: '';
  display: block;
  position: absolute;
  border-color: #ffffff;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out; }

button:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5; }

button:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0; }

button:hover:before,
button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #ffffff; }

.btn-one {
  color: #ffffff;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: transparent;
  font-size: 18px;
  border: 2px solid #03A9F4;
  border-radius: 0;
  padding: 3% 9%; }
  .btn-one:hover {
    color: #ffffff;
    background-color: #03A9F4;
    border-color: #03A9F4; }

.btn-two {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 18px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 0;
  padding: 2% 6%; }
  .btn-two:hover {
    color: #03A9F4;
    background-color: #ffffff;
    border-color: #ffffff; }

.btn-two:before,
.btn-two:after {
  content: '';
  display: block;
  position: absolute;
  border-color: #03A9F4; }

.btn-two:hover:before,
.btn-two:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #03A9F4; }

/* ==========  text classes ========== */
.text-white {
  color: #ffffff; }

.text-base {
  color: #0D47A1; }

.text-accent {
  color: #03A9F4; }

.text-dark {
  color: #293643;
  font-weight: 700; }

.bg-white {
  background: #ffffff; }

.bg-base {
  background: #ffffff; }

/* ==========  global styles  ========== */
html {
  font-size: 16px; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #293643;
  background: #ffffff; }

section {
  padding: 50px 2%; }

span.white {
  color: #ffffff; }

canvas {
  height: 100vh; }

a {
  color: #03A9F4; }

.split-container {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0; }

.half {
  background: #293643; }

.half + .half {
  background: #ECF0F5;
  overflow-x: hidden; }

.left {
  float: left;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50%; }

.right {
  float: right;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%; }

.particles {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%; }

.cover-content {
  height: 100vh;
  min-height: 700px;
  padding: 4% 6% 1%;
  max-width: 650px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: [cover-top] 52px [cover-mid] auto [cover-bottom] 52px;
      grid-template-rows: [cover-top] 52px [cover-mid] auto [cover-bottom] 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .cover-content .cover-name {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: cover-top;
        grid-row-start: cover-top;
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
        align-self: start;
    padding: 0;
    margin: 0;
    z-index: 999999; }
    .cover-content .cover-name a {
      display: block;
      line-height: 22px;
      color: #ffffff;
      padding: 0;
      margin: 0;
      height: 22px; }
      .cover-content .cover-name a:hover {
        text-decoration: none;
        color: #03A9F4; }
  .cover-content .cover-text {
    margin-top: -6%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: cover-mid;
        grid-row-start: cover-mid;
    -webkit-align-self: left;
    -ms-flex-item-align: left;
    -ms-grid-row-align: left;
        align-self: left;
    color: #ffffff; }
  .cover-content .cover-social {
    margin: 0 0 2%;
    text-align: center;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: cover-bottom;
        grid-row-start: cover-bottom;
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
        align-self: end;
    z-index: 999999;
    width: 100%; }
    .cover-content .cover-social ul {
      width: 80%;
      margin: 0 auto;
      padding: 0;
      text-align: center; }
      .cover-content .cover-social ul li {
        width: 20%;
        margin: 0 auto;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
            align-self: center;
        display: inline-block; }
        .cover-content .cover-social ul li a {
          height: 52px;
          margin: 0 6%;
          padding: 0; }
          .cover-content .cover-social ul li a i {
            font-size: 24px;
            padding: 0;
            color: #ffffff; }
            .cover-content .cover-social ul li a i:hover {
              color: #03A9F4;
              cursor: pointer; }

/* ==========  sections  ========== */
.content-container {
  padding: 0;
  height: 100%;
  position: relative; }

.section-container {
  max-width: 650px;
  margin: 0 auto; }

.section {
  padding: 60px 6%; }
  .section .section-content {
    padding-top: 0px; }
    .section .section-content .about-btns {
      text-align: left;
      padding-top: 20px;
      padding-bottom: 0; }
    .section .section-content .project {
      padding: 24px 0; }
      .section .section-content .project header {
        padding-bottom: 8px;
        position: relative; }
        .section .section-content .project header a {
          color: #03A9F4; }
          .section .section-content .project header a:hover {
            text-decoration: none; }
          .section .section-content .project header a h3:hover {
            color: #0D47A1;
            text-decoration: none; }
          .section .section-content .project header a i {
            font-size: 24px;
            color: #293643; }
            .section .section-content .project header a i:hover {
              color: #03A9F4; }
      .section .section-content .project .project-content p.description {
        font-weight: 600; }

.about {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  background: #0D47A1;
  background: linear-gradient(45deg, #0D47A1, #03A9F4);
  padding-bottom: 70px; }
  .about h2 {
    color: #ffffff; }
  .about p {
    color: #ffffff; }

.clip-container {
  background: #ffffff; }

.websites {
  background: #ffffff;
  padding-bottom: 100px; }

.apps {
  background: #ECF0F5;
  -webkit-clip-path: polygon(0 0, 100% 70px, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 70px, 100% 100%, 0 100%);
  margin-bottom: -20px;
  margin-top: -70px;
  padding-top: 100px; }

/* ==========  contact form  ========== */
#contact-frame {
  display: none; }

.contact-frame {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  min-height: 700px; }
  .contact-frame .contact-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100vh;
    overflow-y: scroll;
    max-width: 650px;
    margin: 0 auto; }
    .contact-frame .contact-flex h2 {
      color: #ffffff; }

.pmd-textfield-floating-label label {
  color: #ffffff;
  font-weight: 300;
  font-size: 14px; }

.pmd-textfield-floating-label.pmd-textfield-floating-label-completed label {
  color: #03A9F4;
  opacity: 0.45;
  font-weight: 400; }

.form-group.pmd-textfield {
  margin-bottom: 4px; }

.pmd-textfield-focused {
  background: #03A9F4;
  height: 2px; }

.contact-info {
  text-align: center;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .contact-info .contact-text {
    display: block;
    width: 50%; }
    .contact-info .contact-text p {
      font-size: 12px;
      font-weight: 300;
      line-height: 2;
      letter-spacing: 0.7px;
      color: #ECF0F5;
      padding: 0; }
      .contact-info .contact-text p span {
        display: block;
        font-weight: 500;
        letter-spacing: normal;
        letter-spacing: 0.7px; }

.pmd-textfield .form-control {
  color: #293643;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px; }

.contact-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 10px; }

/* ==========  icons  ========== */
a > i.icon-right {
  margin-left: 3%;
  margin-right: 2%; }

.i-transition {
  transition: all 1200ms cubic-bezier(0.39, 0.5, 0.15, 1.36); }

.i-transition:hover {
  color: #03A9F4;
  font-size: 40px; }

/* ==========  footer styles  ========== */
.main-footer {
  width: 100%;
  padding: 0;
  background: #293643;
  -webkit-clip-path: polygon(50% 0, 100% 18%, 100% 100%, 0 100%, 0 18%);
  clip-path: polygon(50% 0, 100% 18%, 100% 100%, 0 100%, 0 18%); }

.footer-info {
  width: 100%;
  margin: 0;
  font-size: 11px;
  text-transform: lowercase;
  padding: 28px 2% 18px;
  text-align: center; }
  .footer-info ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .footer-info ul li {
      display: block;
      color: #ECF0F5;
      font-weight: 400;
      letter-spacing: 0.7px; }
      .footer-info ul li:hover {
        cursor: pointer; }
      .footer-info ul li a {
        line-height: 1;
        color: #ECF0F5; }
        .footer-info ul li a:hover {
          text-decoration: none;
          color: #03A9F4; }

/* ==========  media queries  ========== */
@media (max-width: 768px) {
  .half {
    width: 100%; }
  .half + .half {
    overflow-x: show; }
  .left,
  .right {
    position: relative;
    float: none;
    height: auto; }
  .particles {
    height: 100vh;
    z-index: auto; }
  .cover-content {
    height: 100vh; }
    .cover-content .cover-text h1 {
      font-size: 14vw; }
    .cover-content .cover-text h4 {
      font-size: 4vw;
      margin-top: 8%;
      margin-bottom: 8%; } }
