/*  ./css/styles.css  */
/* ==========  imports  ========== */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:700");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
/* font-family: 'Montserrat', sans-serif; */
/* navigation */
/* font-family: 'Fira Sans', sans-serif; */
/* headers */
/* font-family: 'Quicksand', sans-serif; */
/* body */
/* ==========  grayscale colors  ========== */
/* ==========  cjordansmith colors  ========== */
/* ==========  buttons  ========== */
button {
  margin-top: 4%; }

.btn {
  padding-left: 22px;
  padding-right: 22px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500; }

.btn-js {
  text-transform: lowercase;
  letter-spacing: 1px; }
  .btn-js.btn-one {
    background: #3b98d3;
    border: 2px solid #3b98d3;
    -webkit-box-shadow: 0px 5px 0px 0px #1675af;
    box-shadow: 0px 5px 0px 0px #1675af; }
    .btn-js.btn-one:hover {
      background: transparent;
      color: white;
      border: 2px solid #3b98d3;
      -webkit-box-shadow: 0px 5px 0px 0px #3b98d3;
      box-shadow: 0px 5px 0px 0px #3b98d3; }
  .btn-js.btn-two {
    background: #12a79d;
    border: 2px solid #12a79d;
    -webkit-box-shadow: 0px 5px 0px 0px #078279;
    box-shadow: 0px 5px 0px 0px #078279; }
    .btn-js.btn-two:hover {
      background: transparent;
      color: white;
      border: 2px solid #12a79d;
      -webkit-box-shadow: 0px 5px 0px 0px #12a79d;
      box-shadow: 0px 5px 0px 0px #12a79d; }
  .btn-js.btn-three {
    background: #f7931d;
    border: 2px solid #f7931d;
    -webkit-box-shadow: 0px 5px 0px 0px #c16d0d;
    box-shadow: 0px 5px 0px 0px #c16d0d; }
    .btn-js.btn-three:hover {
      background: transparent;
      color: white;
      border: 2px solid #f7931d;
      -webkit-box-shadow: 0px 5px 0px 0px #f7931d;
      box-shadow: 0px 5px 0px 0px #f7931d; }
  .btn-js.btn-four {
    background: #fbb03f;
    border: 2px solid #fbb03f;
    -webkit-box-shadow: 0px 5px 0px 0px #e58f0d;
    box-shadow: 0px 5px 0px 0px #e58f0d; }
    .btn-js.btn-four:hover {
      background: transparent;
      color: white;
      border: 2px solid #fbb03f;
      -webkit-box-shadow: 0px 5px 0px 0px #fbb03f;
      box-shadow: 0px 5px 0px 0px #fbb03f; }
  .btn-js.btn-gray {
    background: #bcbdc0;
    border: 2px solid #bcbdc0;
    -webkit-box-shadow: 0px 5px 0px 0px #83858c;
    box-shadow: 0px 5px 0px 0px #83858c; }
    .btn-js.btn-gray:hover {
      background: transparent;
      color: white;
      border: 2px solid #bcbdc0;
      -webkit-box-shadow: 0px 5px 0px 0px #bcbdc0;
      box-shadow: 0px 5px 0px 0px #bcbdc0; }

/* ==========  text classes ========== */
.text-white {
  color: white; }

.text-green {
  color: #12a79d; }

.text-black {
  color: #312f30;
  font-weight: 700; }

.text-orange {
  color: #f7931d; }

/* ==========  old colors  ========== */
/* RGB */
/* ==========  global styles  ========== */
html {
  font-size: 16px; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

body * {
  font-family: 'Poppins', sans-serif; }

section {
  padding: 50px 2%; }

h1 {
  line-height: 1.1;
  font-size: 112px;
  font-weight: 700;
  margin-bottom: 6%;
  letter-spacing: 1px; }

h2 {
  font-size: 32px;
  margin-top: 10px;
  color: #444349;
  letter-spacing: 1.1px;
  font-weight: 500;
  margin-bottom: 0; }

h3 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 22px;
  display: inline;
  color: #3b98d3; }

h4 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1.6px; }

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 1px;
  color: #444349;
  padding: 10px 0 0; }

i {
  font-size: 1.6rem; }

span.yellow {
  color: #fbb03f; }

span.teal {
  color: #12a79d; }

span.space {
  color: #444349; }

span.white {
  color: white; }

.split-container {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.half {
  width: 100%;
  min-height: 750px;
  -ms-flex-preferred-size: 57.14286vh;
  -webkit-flex-basis: 57.14286vh;
  flex-basis: 57.14286vh;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  position: -webkit-sticky;
  position: sticky;
  font: 600 32px Poppins, sans-serif;
  color: #f6e8ea;
  background: #444349; }

.half + .half {
  background: #eceeef;
  overflow-x: hidden; }

.particles {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
  z-index: -1; }

.cover-content {
  height: 100%;
  padding: 2% 6%;
  max-width: 650px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .cover-content a {
    z-index: 999999;
    color: white; }
    .cover-content a h3 {
      color: white; }
  .cover-content .cover-text {
    margin-top: -6%; }
  .cover-content .cover-social {
    margin: 0 20%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.content-container {
  padding: 0;
  height: 100%; }

/* ==========  sections  ========== */
.section-container {
  max-width: 650px;
  margin: 0 auto; }

.section {
  padding: 60px 6%; }
  .section .section-content {
    padding-top: 0px; }
    .section .section-content .project {
      padding: 24px 0; }
      .section .section-content .project header {
        padding-bottom: 0px;
        position: relative; }
        .section .section-content .project header a h3:hover {
          color: #fbb03f; }
        .section .section-content .project header a i {
          color: #444349;
          vertical-align: middle; }
        .section .section-content .project header a i:hover {
          color: #fbb03f; }

.about {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 2em), 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 2em), 0% 100%);
  background: #3b98d3;
  padding-bottom: 115px; }
  .about h2 {
    color: white; }
  .about p {
    color: white; }

.websites {
  position: relative;
  position: relative;
  background: white; }
  .websites::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 75' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,75 100,75 100,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 75px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    top: -75px; }
  .websites::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 40' fill='rgb(255,255,255)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,40 100,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 40px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    bottom: -40px; }

.apps {
  background: #eceeef; }

/* ==========  contact form  ========== */
#contact-frame {
  display: none; }

.contact-frame {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto; }
  .contact-frame .contact-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    overflow-y: scroll;
    max-width: 650px;
    margin: 0 auto; }
    .contact-frame .contact-flex h2 {
      color: white; }

.pmd-textfield-floating-label label {
  color: white;
  font-weight: 300;
  font-size: 14px; }

.pmd-textfield-floating-label.pmd-textfield-floating-label-completed label {
  color: white;
  opacity: 0.45;
  font-weight: 400; }

.form-group.pmd-textfield {
  margin-bottom: 4px; }

.pmd-textfield-focused {
  background: #fbb03f;
  height: 2px; }

.contact-info {
  text-align: center;
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .contact-info .contact-text {
    display: block;
    width: 50%; }
    .contact-info .contact-text p {
      font-size: 12px;
      font-weight: 300;
      line-height: 2;
      letter-spacing: 0.7px;
      color: #f7f7f9;
      padding: 0; }
      .contact-info .contact-text p span {
        display: block;
        font-weight: 500;
        letter-spacing: normal;
        letter-spacing: 0.7px; }

.pmd-textfield .form-control {
  color: white;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px; }

.contact-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.social-icons a {
  font-size: 30px;
  display: inline-block;
  margin: 12px 22px;
  color: #f7f7f9; }

/* ==========  icons  ========== */
a > i.icon-right {
  margin-left: 3%;
  margin-right: 2%; }

.i-transition {
  -webkit-transition: all 1200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 1200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 1200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 1200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 1200ms cubic-bezier(0.39, 0.5, 0.15, 1.36); }

.i-transition:hover {
  color: #fbb03f;
  font-size: 40px; }

/* ==========  footer styles  ========== */
.main-footer {
  width: 100%;
  padding: 0;
  background: #3b98d3;
  background-repeat: repeat;
  background-position: center center;
  -webkit-clip-path: polygon(50% 0, 100% 18%, 100% 100%, 0 100%, 0 18%);
  clip-path: polygon(50% 0, 100% 18%, 100% 100%, 0 100%, 0 18%); }

.footer-info {
  width: 100%;
  margin: 0;
  font-size: 11px;
  text-transform: lowercase;
  padding: 28px 2% 18px;
  text-align: center; }
  .footer-info ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .footer-info ul li {
      display: block;
      color: #f7f7f9;
      font-weight: 400;
      letter-spacing: 0.7px; }
      .footer-info ul li:hover {
        cursor: pointer; }
      .footer-info ul li a {
        line-height: 1;
        color: #f7f7f9; }
        .footer-info ul li a:hover {
          text-decoration: underline; }

/* ==========  media queries  ========== */
@media (max-width: 768px) {
  .cover-content {
    height: 100vh; }
    .cover-content .cover-text h1 {
      font-size: 14vw; }
    .cover-content .cover-text h2 {
      font-size: 4vw;
      margin-top: 8%;
      margin-bottom: 8%; } }
