/* ==========  home-contact styles  ========== */

#contact-frame {
	display: none;
}
.contact-frame {
	padding: 2% 6%;
	background: $teal;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	h1 {
		font-weight: 500;
		letter-spacing: 1px;
		color: $space;
		margin-bottom: 40px;
	}
}

.pmd-textfield-floating-label label {
  color: $white;
  font-weight: 300;
	font-size: 14px;
}
.pmd-textfield-floating-label.pmd-textfield-floating-label-completed label {
  color: $space;
  opacity: 0.65;
  font-weight: 400;
}
.pmd-textfield-focused {
	background: $orange;
	height: 2px;
}

.contact-btn {
  margin-top: 20px;
}
.contact-info {
  text-align: center;
	margin-top: 40px;
	.contact-text {
		display: inline-grid;
		margin-left: 4%;
		margin-right: 4%;
		h3 {
			font-size: 16px;
		  font-weight: 400;
		  letter-spacing: normal;
			letter-spacing: 0.7px;
		}
		p {
			font-size: 13px;
			font-weight: 300;
			letter-spacing: 0.7px;
		}
	}

}

.pmd-textfield .form-control {
  color: $white;
  font-weight: 300;
	font-size: 14px;
	letter-spacing: 1px;
}
