

/* font-family: 'Montserrat', sans-serif; */ /* navigation */
/* font-family: 'Fira Sans', sans-serif; *//* headers */
/* font-family: 'Quicksand', sans-serif; *//* body */

$height: 100vh;

/* ==========  cjordansmith colors  ========== */
$base:					#0085D4;
$dark-gray:			#293643;
$light-gray:		#ECF0F5;
$white:					#ffffff;
$accent:				#00BEF6;


/* ==========  buttons  ========== */
button {
  color: $accent;
  background: transparent;
	border: 2px solid $accent;
  position: relative;
  margin: 1em;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
	text-transform: lowercase;
	letter-spacing: 1.8px;
	font-size: 18px;
}

button:before,
button:after {
	content:'';
	display:block;
	position:absolute;
	border-color: $white;
	box-sizing:border-box;
	border-style: solid;
	width:1em;
	height:1em;
	transition:all 0.3s ease-in-out;
}

button:before {
	top:-6px;
	left:-6px;
	border-width:2px 0 0 2px;
	z-index:5;
}

button:after {
	bottom:-6px;
	right:-6px;
	border-width:0 2px 2px 0;
}

button:hover:before,
button:hover:after {
	width:calc(100% + 12px);
  height:calc(100% + 12px);
	border-color: $white;
}


.btn-one {
	color: $white;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	background: transparent;
	font-size: 18px;
	border: 2px solid $base;
	border-radius: 0;
	padding: 3% 9%;
	&:hover {
		color: $white;
		background-color: $base;
		border-color: $base;
	}
}

.btn-two {
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	color: $white;
	font-size: 18px;
	background: transparent;
	border: 2px solid $white;
	border-radius: 0;
	padding: 2% 6%;
	&:hover {
		color: $accent;
		background-color: $white;
		border-color: $white;
	}
}
.btn-two:before,
.btn-two:after {
	content:'';
	display:block;
	position:absolute;
	border-color: $accent;
}
.btn-two:hover:before,
.btn-two:hover:after {
	width:calc(100% + 12px);
  height:calc(100% + 12px);
	border-color: $accent;
}

/* ==========  text classes ========== */
.text-white {
	color: $white;
}
.text-base {
	color: $base;
}
.text-accent {
	color: $accent;
}
.text-dark {
	color: $dark-gray;
	font-weight: 700;
}

.bg-white {
	background: $white;
}
.bg-base {
	background: $base;
}
