/*  ./css/styles.css  */

/* ==========  imports  ========== */
@import "_type";
@import "_variables";
@import "_angled-edges";

/* ==========  global styles  ========== */
html {
	font-size: 16px;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
	color: $dark-gray;
	background: $white;
}

section {
  padding: 50px 2%;
}

span.white {
	color: $white;
}

canvas {
	height: 100vh;
}

a {
	color: $accent;
}

.split-container {
	height: 100%;
  width: 100%;
	position: absolute;
  margin: 0;
}

.half {
	background: $dark-gray;
}

.half + .half {
  background: $white;
	overflow-x: hidden;
}

.left {
	float: left;
	position: sticky;
	top: 0;
	left: 0;
	height: 100vh;
	width: 50%;
}

.right {
	float: right;
	position: sticky;
	top: 0;
	right: 0;
	height: 100vh;
	width: 50%;

}


.particles {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.cover-content {
	height: 100vh;
	min-height: 700px;
	padding: 4% 6% 1%;
	max-width: 650px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: [cover-top] 52px [cover-mid] auto [cover-bottom] 52px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: space-between;
	justify-content: space-between;

	.cover-name {
		grid-column-start: 1;
		grid-row-start: cover-top;
		align-self: start;
		padding: 0;
		margin: 0;
		z-index: 999999;

		a {
			display: block;
			line-height: 22px;
			color: $white;
			padding: 0;
			margin: 0;
			height: 22px;
			&:hover {
				text-decoration: none;
				color: $accent;
			}
		}
	}

	.cover-text {
		margin-top: -6%;
		grid-column-start: 1;
		grid-row-start: cover-mid;
		align-self: left;
		color: $white;
		button {
			padding: 3.5% 10%;
		}
	}

	.cover-social {
		margin: 0 0 2%;
		text-align: center;
		grid-column-start: 1;
		grid-row-start: cover-bottom;
		align-self: end;
		z-index: 999999;
		width: 100%;

		ul {
			width: 80%;
			margin: 0 auto;
			padding: 0;
			text-align: center;

			li {
				width: 20%;
				margin: 0 auto;
				align-self: center;
				display: inline-block;

				a {
					height: 52px;
					margin: 0 6%;
					padding: 0;

					i {
						font-size: 24px;
						padding: 0;
						color: $white;

						&:hover {
							color: $accent;
							cursor: pointer;
						}

					}

				}
			}
		}

	}
}

/* ==========  sections  ========== */
.content-container {
	padding: 0;
	height: 100%;
	position: relative;
}

.section-container {
	max-width: 650px;
	margin: 0 auto;

}

.section {
	padding: 60px 6%;

	.section-content {
		padding-top: 0px;
		.about-btns {
			text-align: left;
			padding-top: 20px;
			padding-bottom: 0;
		}
		p.skills {
			margin-top: 40px;
		}
		.project {
			padding: 24px 0;
			header {
				padding-bottom: 8px;
				position: relative;

				a {
					color: $accent;
					&:hover {
						text-decoration: none;
					}
					h3 {

						&:hover {
							color: $base;
							text-decoration: none;
						}

					}

					i {
						font-size: 24px;
						color: $dark-gray;

						&:hover {
							color: $accent;
						}

					}

				}
			}
			.project-content p.description {
				font-weight: 600;
			}
		}

		ul {
			margin-top: 10px;
			li {

			}
		}
	}
}

h3.skills-title {
	font-size: 18px;
	display: block;
	margin-top: 30px;
	margin-bottom: 0;
	color: $white;
}

.about {
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
	-moz-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
	background: #0D47A1;
	background-image: linear-gradient(180deg, #0D47A1, #03A9F4);
	background-image: -webkit-linear-gradient(180deg, #0D47A1, #03A9F4);
  background-image: -moz-linear-gradient(180deg, #0D47A1, #03A9F4);
	padding-bottom: 100px;

	h2 {
		color: $white;
	}
	p {
		color: $white;
	}
}
.clip-container {
	background: $white;
}
.websites {
	//-webkit-clip-path: polygon(100% 0%, 100% 0, 100% 100%, 0% 100%);
	//clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	background: $white;
	padding-bottom: 100px;
}

.apps {
	background: $light-gray;
	-webkit-clip-path: polygon(0 0, 100% 70px, 100% 100%, 0 100%);
	-moz-clip-path: polygon(0 0, 100% 70px, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 70px, 100% 100%, 0 100%);
	margin-bottom: -20px;
	margin-top: -70px;
	padding-top: 100px;
}

/* ==========  contact form  ========== */

#contact-frame {
	display: none;
}

.contact-frame {
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	min-height: 700px;

	.contact-flex {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: space-between;
		justify-content: space-between;
		height: 100vh;
		overflow-y: scroll;
		max-width: 650px;

		margin: 0 auto;
		h2 {
			color: $white;
		}
	}
}

.pmd-textfield-floating-label label {
  color: $white;
  font-weight: 300;
	font-size: 14px;
}

.pmd-textfield-floating-label.pmd-textfield-floating-label-completed label {
  color: $accent;
  opacity: 0.45;
  font-weight: 400;
}

.form-group.pmd-textfield  {
	margin-bottom: 4px;
}

.pmd-textfield-focused {
	background: $accent;
	height: 2px;
}

.contact-info {
  text-align: center;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: space-around;
	justify-content: space-around;

	.contact-text {
		display: block;
		width: 50%;
		p {
			font-size: 12px;
			font-weight: 300;
			line-height: 2;
			letter-spacing: 0.7px;
			color: $light-gray;
			padding: 0;

			span {
				display: block;
			  font-weight: 500;
			  letter-spacing: normal;
				letter-spacing: 0.7px;
			}
		}
	}
}

.pmd-textfield .form-control {
  color: $dark-gray;
  font-weight: 300;
	font-size: 14px;
	letter-spacing: 1px;
}

.contact-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: space-around;
	justify-content: space-around;
	margin-top: 30px;
	margin-bottom: 10px;
}



/* ==========  icons  ========== */

// github and heroku icon
a > i.icon-right {
	margin-left: 3%;
	margin-right: 2%;
}

.i-transition {
  -webkit-transition: all 1200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 1200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 1200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 1200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 1200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}
.i-transition:hover {
	color: $accent;
	font-size:40px;
}

/* ==========  footer styles  ========== */

.main-footer {
	width: 100%;
	padding: 0;
	background: $base;
	-webkit-clip-path: polygon(50% 0, 100% 18%, 100% 100%, 0 100%, 0 18%);
	clip-path: polygon(50% 0, 100% 18%, 100% 100%, 0 100%, 0 18%);
}

.footer-info {
	width: 100%;
	margin: 0;
  font-size: 11px;
  text-transform: lowercase;
  padding: 28px 2% 18px;
  text-align: center;
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: space-around;
		justify-content: space-around;
		li {
		 display: block;
		 color: $light-gray;
		 font-weight: 400;
		 letter-spacing: 0.7px;
		 &:hover {
			 cursor: pointer;
		 }
		 a {
			 line-height: 1;
		   color: $light-gray;

			 &:hover {
				 text-decoration: none;
				 color: $accent;
			 }
		 }
		}
	}
}


/* ==========  media queries  ========== */
@media (max-width: 768px) {
	.half {
		width: 100%;
	}

	.half + .half {
		overflow-x: show;
	}

	.left,
	.right {
		position: relative;
		float: none;
		height: auto;
	}

	.particles {
		height: 100vh;
		z-index: auto;
	}

	.cover-content {
		height: 100vh;

		.cover-text {
			h1 {
				font-size: 14vw;
			}
			h4 {
				font-size: 4vw;
				margin-top: 8%;
				margin-bottom: 8%;
			}
		}
	}

}
